/*  your css code here. If applicable */
.modal{
	background-color:white;
	display:none;
	animation: modalAnimation 0.5s linear;
}
@keyframes modalAnimation{
	from{
		transform:translateY(-250%)
	}
	to{
		transform:translateY(0%);
	}
}


.modal-header{
	position:relative;
	
}
.modal-header h2{
	width:100%;
	background-color:green;
	color:white;
	padding:10px;
}
.modal-header .close-modal{
	position:absolute;
	top:50px;
	right:0px;
	height:30px;
	width:30px;
	border-radius:50%;
}
